:root {
    --header-logo-image-width-desktop-mode: 120px;
    --header-logo-image-width-mobile-mode: 80px;
    --header-logo-image-height-desktop-mode: 120px;
    --header-logo-image-height-mobile-mode: 80px;
    --header-image-margin-right: 30px;
    --header-image-margin-top-desktop-mode: -10px;
    --header-image-margin-top-mobile-mode: -5px;
    --header-image-margin-bottom-desktop-mode: -25px;
    --header-image-margin-bottom-mobile-mode: -20px;
}

header {
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: rgb(204, 217, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-logo-image-desktop-mode {
    width: var(--header-logo-image-width-desktop-mode);
    height: var(--header-logo-image-height-desktop-mode);
    margin-right: var(--header-image-margin-right);
    margin-top: var(--header-image-margin-top-desktop-mode);
    margin-bottom: var(--header-image-margin-bottom-desktop-mode);
}

.header-logo-image-mobile-mode {
    width: var(--header-logo-image-width-mobile-mode);
    height: var(--header-logo-image-height-mobile-mode);
    margin-right: var(--header-image-margin-right);
    margin-top: var(--header-image-margin-top-mobile-mode);
    margin-bottom: var(--header-image-margin-bottom-mobile-mode);
}

.header-buttons-desktop-mode {
    margin-top: -30px !important;
    padding-right: calc(var(--sidebar-width-desktop-mode) + 30px) !important;
    padding-left: 20px;
}

.header-elements-mobile-mode {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

.sidebar-header-button {
    padding-top: calc((var(--header-logo-image-height-mobile-mode) + var(--header-image-margin-top-mobile-mode) +
    var(--header-image-margin-bottom-mobile-mode)) / 2 - 3px);
}

.text-color * {
    color: #1D6DA7 !important;
}

footer {
    z-index: 10;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(204, 217, 255);
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
}

/* Overwrites */

.ui.secondary.pointing.menu .active.item {
    border-color: #186AA5;
}

.ui.secondary.pointing.menu.footer-buttons::after {
    /* added for debug, ::after cause bug in footer buttons location */
    display: none;
}
