:root {
    --sidebar-width-desktop-mode: 250px;
}

@media (min-width: 600px) {
    :root {
        --index-grid-padding-top: 150px;
    }

    .index-grid {
        padding-right: calc(var(--sidebar-width-desktop-mode) + 20px) !important;
    }
}

@media (max-width: 600px) {
    :root {
        --index-grid-padding-top: 70px;
    }

    .index-grid {
        padding-right: 20px !important;
    }
}

.index-grid {
    padding-top: var(--index-grid-padding-top) !important;
    padding-left: 20px !important;
    padding-bottom: 40px !important;
}

.index-card {
    background-color: rgb(204, 227, 256) !important;
}

.sidebar-text-content {
    margin-top: calc(var(--header-logo-image-height-desktop-mode) +
    var(--header-image-margin-top-desktop-mode) + var(--header-image-margin-bottom-desktop-mode) + 60px);
    text-align: center;
    color: aliceblue;
}

/* Overwrites */

.ui.sidebar {
    background-color: #2a5473 !important;
    width: var(--sidebar-width-desktop-mode) !important;
    z-index: 9;
}

