@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
    url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
}

html * {
    font-family: Sahel, serif !important;
}

i.icon {
    font-family: Icons !important;
}

body {
    direction: rtl;
}

@media (min-width: 600px) {
    .mobile-mode {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .desktop-mode {
        display: none !important;
    }
}
